<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Code Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic Styling -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <h2>⚡ Realtime Code Editor</h2>
    </nav>
  </body>
</html>
